.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 359px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
  }
}
